[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "proje1/lib/openzeppelin-contracts"]
	path = proje1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "graduationproject/handmade-marketplace/lib/forge-std"]
	path = graduationproject/handmade-marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graduationproject/handmade-marketplace/lib/openzeppelin-contracts"]
	path = graduationproject/handmade-marketplace/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "graduationproject/handmade-marketplace/backend/lib/forge-std"]
	path = graduationproject/handmade-marketplace/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graduationproject/handmade-marketplace/backend/lib/openzeppelin-contracts"]
	path = graduationproject/handmade-marketplace/backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "proje1/lib/forge-std"]
	path = proje1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graduationproject/handmade-nft/lib/forge-std"]
	path = graduationproject/handmade-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graduationproject/handmade-nft/lib/openzeppelin-contracts"]
	path = graduationproject/handmade-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "proje1/handmade-marketplace/lib/forge-std"]
	path = proje1/handmade-marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "proje1/handmade-marketplace/lib/openzeppelin-contracts"]
	path = proje1/handmade-marketplace/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "graduationproject/marketplace/lib/openzeppelin-contracts"]
	path = graduationproject/marketplace/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "graduationproject/marketplace/lib/forge-std"]
	path = graduationproject/marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graduationproject/marketplace/backend/lib/openzeppelin-contracts"]
	path = graduationproject/marketplace/backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "graduationproject/marketplace/backend/lib/forge-std"]
	path = graduationproject/marketplace/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
